

.footer{
	text-align:center; 
	width:100vw;
	background-color: #fff;
	border-top: 1px solid #673ab7;
	position:fixed;
	bottom: 0;
}

.select2{
	width: 100% !important;
}

.tarjeta{
	height:60vh;
	overflow-y: scroll;
}

#btn_grupo{
color: #673ab7 !important;
}

.card-header, .navbar{
	border-bottom: 1px solid #673ab7;
}

.navbar{
	font-weight: 600;
}

a.nav-link{
	display: inline-block;
	resize: none;
}

a.nav-link:hover{
	color: #673ab7 !important;
}

.header_detalle{
	font-weight: 700;
}

#movimientos {
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#navEnd{
	position: absolute;
	right: 0;
}

@media (max-width: 991px) {
  #navEnd{
	position: inherit;
}
.navbar{
	text-align: center;
}
}